<!doctype html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form action="@{/login}" method="post">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    <div><label> User Name : <input type="text" name="username"
                                    th:placeholder="#{form.login.username}"/> </label></div>
    <div><label> Password: <input type="password" name="password"
                                  th:placeholder="#{form.login.password}" /> </label></div>
    <div><input type="submit" th:utext="#{form.login.submit}" />Login</div>
</form>
</body>
</html>