body {
    margin: 0 auto;
}

* {
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#btns {
    text-align: center;
    margin: 50px 0px;
}

#clothes {
    background: #F8F8F8;
    display: block;
    margin: 20px auto 17px;
}

.pure-button {
    width: 100px;
    display: inline-block;
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: white;
    border: 1px solid #999;
    border: transparent;
    text-decoration: none;
    border-radius: 2px;
    background: #45BCF9; /* this is a green */
    zoom: 1;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.pure-button:focus, .pure-button:hover {
    filter: alpha(opacity=90);
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1))
}

.pure-button:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 0 6px rgba(0, 0, 0, .2) inset;
    border-color: #000 \9
}

#foots{
    text-align: center;
    position: fixed;
    bottom: 5px;
    line-height: 12px;
    font-size: 10px;
    width: 100%;
    color: #999999;
}