<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <title>Sixlab·六楼实验室 | 六楼的雨</title>

    <link href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css" rel="stylesheet" />
    <!--<link href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css" rel="stylesheet">-->

    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/assignment.js"></script>
    <!--<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/hogan.js/3.0.2/hogan.min.js"></script>-->
    <!--<script src="/static/wx/pub/msg/msg.js"></script>-->

</head>
<body>

<header class="demos-header" style="text-align: center;">
    <h1 class="demos-title" th:text="${year+'年'+month+'月'+day+'日'}">2017年12月19日</h1>
    <h2 class="demos-title" th:text="${dayOfWeekText}">星期五</h2>
    <h3 class="demos-title" th:text="${'今年第'+weekOfYear+'周，本月第'+weekOfMonth+'周'}">今年第10周，本月第2周</h3>
</header>

<div class="bd">
    <div class="page__bd" th:each="tempList, tempListStat : ${assignmentList}">
        <div class="weui-cells__title" th:text="${tempList.get(0).assignmentHour +' 点的任务列表'}">
            1点的任务列表
        </div>

        <div class="weui-cells weui-cells_checkbox">
            <label class="weui-cell weui-check__label" th:each="item, itemStat : ${tempList}" th:attr="for=${'s'+item.id}">
                <div class="weui-cell__hd">
                    <input th:if="${item.finishCheck}" checked="checked" type="checkbox" name="checkbox1" class="weui-check msx-item" th:attr="id=${'s'+item.id},itemId=${item.id}" th:value="${item.finishCheck}" />
                    <input th:if="${!item.finishCheck}" type="checkbox" name="checkbox1" class="weui-check msx-item" th:attr="id=${'s'+item.id},itemId=${item.id}" th:value="${item.finishCheck}" />
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p th:text="${item.assignmentName}">standard is dealicient for u.</p>
                </div>
                <div class="weui-cell__ft" th:text="${item.remark}">备注</div>
            </label>
        </div>

        <div class="weui-cells" th:if="${assignmentList.size()==0}">
            <div class="weui-cell weui-cell_swiped" th:each="item, itemStat : ${tempList}">
                <div class="weui-cell__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p th:text="${item.assignmentName}">左滑列表</p>
                        </div>
                        <div class="weui-cell__ft" th:text="${item.remark}">向左滑动试试</div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn finish-swipeout"
                       href="javascript:" th:if="${!item.finishCheck}">完成</a>
                    <a class="weui-swiped-btn weui-swiped-btn_warn undo-swipeout"
                       href="javascript:" th:if="${item.finishCheck}">撤回</a>
                    <a class="weui-swiped-btn weui-swiped-btn_default close-swipeout"
                       href="javascript:">关闭</a>
                </div>
            </div>

            <div class="weui-cell weui-cell_swiped" th:each="item, itemStat : ${tempList}">
                <div class="weui-cell__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p th:text="${item.assignmentName}">左滑列表</p>
                        </div>
                        <div class="weui-cell__ft" th:text="${item.remark}">向左滑动试试</div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn finish-swipeout"
                       href="javascript:" th:if="${!item.finishCheck}">完成</a>
                    <a class="weui-swiped-btn weui-swiped-btn_warn undo-swipeout"
                       href="javascript:" th:if="${item.finishCheck}">撤回</a>
                    <a class="weui-swiped-btn weui-swiped-btn_default close-swipeout"
                       href="javascript:">关闭</a>
                </div>
            </div>
            <div class="weui-cell weui-cell_swiped" th:each="item, itemStat : ${tempList}">
                <div class="weui-cell__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p th:text="${item.assignmentName}">左滑列表</p>
                        </div>
                        <div class="weui-cell__ft" th:text="${item.remark}">向左滑动试试</div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn finish-swipeout"
                       href="javascript:" th:if="${!item.finishCheck}">完成</a>
                    <a class="weui-swiped-btn weui-swiped-btn_warn undo-swipeout"
                       href="javascript:" th:if="${item.finishCheck}">撤回</a>
                    <a class="weui-swiped-btn weui-swiped-btn_default close-swipeout"
                       href="javascript:">关闭</a>
                </div>
            </div>
            <div class="weui-cell weui-cell_swiped" th:each="item, itemStat : ${tempList}">
                <div class="weui-cell__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p th:text="${item.assignmentName}">左滑列表</p>
                        </div>
                        <div class="weui-cell__ft" th:text="${item.remark}">向左滑动试试</div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn finish-swipeout"
                       href="javascript:" th:if="${!item.finishCheck}">完成</a>
                    <a class="weui-swiped-btn weui-swiped-btn_warn undo-swipeout"
                       href="javascript:" th:if="${item.finishCheck}">撤回</a>
                    <a class="weui-swiped-btn weui-swiped-btn_default close-swipeout"
                       href="javascript:">关闭</a>
                </div>
            </div>
            <div class="weui-cell weui-cell_swiped" th:each="item, itemStat : ${tempList}">
                <div class="weui-cell__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p th:text="${item.assignmentName}">左滑列表</p>
                        </div>
                        <div class="weui-cell__ft" th:text="${item.remark}">向左滑动试试</div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn finish-swipeout"
                       href="javascript:" th:if="${!item.finishCheck}">完成</a>
                    <a class="weui-swiped-btn weui-swiped-btn_warn undo-swipeout"
                       href="javascript:" th:if="${item.finishCheck}">撤回</a>
                    <a class="weui-swiped-btn weui-swiped-btn_default close-swipeout"
                       href="javascript:">关闭</a>
                </div>
            </div>
            <div class="weui-cell weui-cell_swiped" th:each="item, itemStat : ${tempList}">
                <div class="weui-cell__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p th:text="${item.assignmentName}">左滑列表</p>
                        </div>
                        <div class="weui-cell__ft" th:text="${item.remark}">向左滑动试试</div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn finish-swipeout"
                       href="javascript:" th:if="${!item.finishCheck}">完成</a>
                    <a class="weui-swiped-btn weui-swiped-btn_warn undo-swipeout"
                       href="javascript:" th:if="${item.finishCheck}">撤回</a>
                    <a class="weui-swiped-btn weui-swiped-btn_default close-swipeout"
                       href="javascript:">关闭</a>
                </div>
            </div>
            <div class="weui-cell weui-cell_swiped" th:each="item, itemStat : ${tempList}">
                <div class="weui-cell__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p th:text="${item.assignmentName}">左滑列表</p>
                        </div>
                        <div class="weui-cell__ft" th:text="${item.remark}">向左滑动试试</div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn finish-swipeout"
                       href="javascript:" th:if="${!item.finishCheck}">完成</a>
                    <a class="weui-swiped-btn weui-swiped-btn_warn undo-swipeout"
                       href="javascript:" th:if="${item.finishCheck}">撤回</a>
                    <a class="weui-swiped-btn weui-swiped-btn_default close-swipeout"
                       href="javascript:">关闭</a>
                </div>
            </div>
            <div class="weui-cell weui-cell_swiped" th:each="item, itemStat : ${tempList}">
                <div class="weui-cell__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p th:text="${item.assignmentName}">左滑列表</p>
                        </div>
                        <div class="weui-cell__ft" th:text="${item.remark}">向左滑动试试</div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn finish-swipeout"
                       href="javascript:" th:if="${!item.finishCheck}">完成</a>
                    <a class="weui-swiped-btn weui-swiped-btn_warn undo-swipeout"
                       href="javascript:" th:if="${item.finishCheck}">撤回</a>
                    <a class="weui-swiped-btn weui-swiped-btn_default close-swipeout"
                       href="javascript:">关闭</a>
                </div>
            </div>
            <div class="weui-cell weui-cell_swiped" th:each="item, itemStat : ${tempList}">
                <div class="weui-cell__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p th:text="${item.assignmentName}">左滑列表</p>
                        </div>
                        <div class="weui-cell__ft" th:text="${item.remark}">向左滑动试试</div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn finish-swipeout"
                       href="javascript:" th:if="${!item.finishCheck}">完成</a>
                    <a class="weui-swiped-btn weui-swiped-btn_warn undo-swipeout"
                       href="javascript:" th:if="${item.finishCheck}">撤回</a>
                    <a class="weui-swiped-btn weui-swiped-btn_default close-swipeout"
                       href="javascript:">关闭</a>
                </div>
            </div>
            <div class="weui-cell weui-cell_swiped" th:each="item, itemStat : ${tempList}">
                <div class="weui-cell__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p th:text="${item.assignmentName}">左滑列表</p>
                        </div>
                        <div class="weui-cell__ft" th:text="${item.remark}">向左滑动试试</div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn finish-swipeout"
                       href="javascript:" th:if="${!item.finishCheck}">完成</a>
                    <a class="weui-swiped-btn weui-swiped-btn_warn undo-swipeout"
                       href="javascript:" th:if="${item.finishCheck}">撤回</a>
                    <a class="weui-swiped-btn weui-swiped-btn_default close-swipeout"
                       href="javascript:">关闭</a>
                </div>
            </div>
            <div class="weui-cell weui-cell_swiped" th:each="item, itemStat : ${tempList}">
                <div class="weui-cell__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p th:text="${item.assignmentName}">左滑列表</p>
                        </div>
                        <div class="weui-cell__ft" th:text="${item.remark}">向左滑动试试</div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn finish-swipeout"
                       href="javascript:" th:if="${!item.finishCheck}">完成</a>
                    <a class="weui-swiped-btn weui-swiped-btn_warn undo-swipeout"
                       href="javascript:" th:if="${item.finishCheck}">撤回</a>
                    <a class="weui-swiped-btn weui-swiped-btn_default close-swipeout"
                       href="javascript:">关闭</a>
                </div>
            </div>
            <div class="weui-cell weui-cell_swiped" th:each="item, itemStat : ${tempList}">
                <div class="weui-cell__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p th:text="${item.assignmentName}">左滑列表</p>
                        </div>
                        <div class="weui-cell__ft" th:text="${item.remark}">向左滑动试试</div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn finish-swipeout"
                       href="javascript:" th:if="${!item.finishCheck}">完成</a>
                    <a class="weui-swiped-btn weui-swiped-btn_warn undo-swipeout"
                       href="javascript:" th:if="${item.finishCheck}">撤回</a>
                    <a class="weui-swiped-btn weui-swiped-btn_default close-swipeout"
                       href="javascript:">关闭</a>
                </div>
            </div>
            <div class="weui-cell weui-cell_swiped" th:each="item, itemStat : ${tempList}">
                <div class="weui-cell__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p th:text="${item.assignmentName}">左滑列表</p>
                        </div>
                        <div class="weui-cell__ft" th:text="${item.remark}">向左滑动试试</div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn finish-swipeout"
                       href="javascript:" th:if="${!item.finishCheck}">完成</a>
                    <a class="weui-swiped-btn weui-swiped-btn_warn undo-swipeout"
                       href="javascript:" th:if="${item.finishCheck}">撤回</a>
                    <a class="weui-swiped-btn weui-swiped-btn_default close-swipeout"
                       href="javascript:">关闭</a>
                </div>
            </div>
            <div class="weui-cell weui-cell_swiped" th:each="item, itemStat : ${tempList}">
                <div class="weui-cell__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p th:text="${item.assignmentName}">左滑列表</p>
                        </div>
                        <div class="weui-cell__ft" th:text="${item.remark}">向左滑动试试</div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn finish-swipeout"
                       href="javascript:" th:if="${!item.finishCheck}">完成</a>
                    <a class="weui-swiped-btn weui-swiped-btn_warn undo-swipeout"
                       href="javascript:" th:if="${item.finishCheck}">撤回</a>
                    <a class="weui-swiped-btn weui-swiped-btn_default close-swipeout"
                       href="javascript:">关闭</a>
                </div>
            </div>
            <div class="weui-cell weui-cell_swiped" th:each="item, itemStat : ${tempList}">
                <div class="weui-cell__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p th:text="${item.assignmentName}">左滑列表</p>
                        </div>
                        <div class="weui-cell__ft" th:text="${item.remark}">向左滑动试试</div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn finish-swipeout"
                       href="javascript:" th:if="${!item.finishCheck}">完成</a>
                    <a class="weui-swiped-btn weui-swiped-btn_warn undo-swipeout"
                       href="javascript:" th:if="${item.finishCheck}">撤回</a>
                    <a class="weui-swiped-btn weui-swiped-btn_default close-swipeout"
                       href="javascript:">关闭</a>
                </div>
            </div>
            <div class="weui-cell weui-cell_swiped" th:each="item, itemStat : ${tempList}">
                <div class="weui-cell__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p th:text="${item.assignmentName}">左滑列表</p>
                        </div>
                        <div class="weui-cell__ft" th:text="${item.remark}">向左滑动试试</div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn finish-swipeout"
                       href="javascript:" th:if="${!item.finishCheck}">完成</a>
                    <a class="weui-swiped-btn weui-swiped-btn_warn undo-swipeout"
                       href="javascript:" th:if="${item.finishCheck}">撤回</a>
                    <a class="weui-swiped-btn weui-swiped-btn_default close-swipeout"
                       href="javascript:">关闭</a>
                </div>
            </div>
            <div class="weui-cell weui-cell_swiped" th:each="item, itemStat : ${tempList}">
                <div class="weui-cell__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p th:text="${item.assignmentName}">左滑列表</p>
                        </div>
                        <div class="weui-cell__ft" th:text="${item.remark}">向左滑动试试</div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn finish-swipeout"
                       href="javascript:" th:if="${!item.finishCheck}">完成</a>
                    <a class="weui-swiped-btn weui-swiped-btn_warn undo-swipeout"
                       href="javascript:" th:if="${item.finishCheck}">撤回</a>
                    <a class="weui-swiped-btn weui-swiped-btn_default close-swipeout"
                       href="javascript:">关闭</a>
                </div>
            </div>
            <div class="weui-cell weui-cell_swiped" th:each="item, itemStat : ${tempList}">
                <div class="weui-cell__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p th:text="${item.assignmentName}">左滑列表</p>
                        </div>
                        <div class="weui-cell__ft" th:text="${item.remark}">向左滑动试试</div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn finish-swipeout"
                       href="javascript:" th:if="${!item.finishCheck}">完成</a>
                    <a class="weui-swiped-btn weui-swiped-btn_warn undo-swipeout"
                       href="javascript:" th:if="${item.finishCheck}">撤回</a>
                    <a class="weui-swiped-btn weui-swiped-btn_default close-swipeout"
                       href="javascript:">关闭</a>
                </div>
            </div>
            <div class="weui-cell weui-cell_swiped" th:each="item, itemStat : ${tempList}">
                <div class="weui-cell__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p th:text="${item.assignmentName}">左滑列表</p>
                        </div>
                        <div class="weui-cell__ft" th:text="${item.remark}">向左滑动试试</div>
                    </div>
                </div>
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn finish-swipeout"
                       href="javascript:" th:if="${!item.finishCheck}">完成</a>
                    <a class="weui-swiped-btn weui-swiped-btn_warn undo-swipeout"
                       href="javascript:" th:if="${item.finishCheck}">撤回</a>
                    <a class="weui-swiped-btn weui-swiped-btn_default close-swipeout"
                       href="javascript:">关闭</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="weui-footer">
    <br />
    <a class="weui-btn weui-btn_primary" style="color: #FFFFFF"
       href="/assignment/pub/assignments">查看所有任务</a>
    <br />
    <p class="weui-footer__links">
        <a href="/" class="weui-footer__link">Sixlab·六楼实验室</a>
    </p>
    <p class="weui-footer__text">Copyright © 2017 Sixlab·六楼实验室</p>
</div>
</body>
</html>