<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <title>Sixlab·六楼实验室 | 六楼的雨</title>

    <link href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css" rel="stylesheet" />
    <!--<link href="https://cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css" rel="stylesheet" />-->

    <script th:inline="javascript">
        var wxMsg = [[${wxMsg}]];
    </script>

    <!--<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/hogan.js/3.0.2/hogan.min.js"></script>-->
    <!--<script src="/static/wx/pub/msg/msg.js"></script>-->

</head>
<body>

    <header class="demos-header" style="text-align: center;">
        <h1 class="demos-title">历史消息</h1>
    </header>

    <div class="page__bd">
        <div class="weui-panel weui-panel_access" th:each="wxMsg,wxMsgStat : ${msgList}">
            <!--<div class="weui-panel__hd" th:text="${(wxMsgStat.index+1)+'.'}">1. </div>-->
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title" th:switch="${wxMsg.msgType}">
                        <span th:text="${(wxMsgStat.index+1)+'. '}">1. </span>

                        <span th:case="'text'">文本</span>
                        <span th:case="'image'">图片</span>
                        <span th:case="'voice'">语音</span>
                        <span th:case="'video'">视频</span>
                        <span th:case="'shortvideo'">小视频消息</span>
                        <span th:case="'location'">地理位置消息</span>
                        <span th:case="'link'">链接</span>
                    </h4>

                    <p class="weui-media-box__desc" th:switch="${wxMsg.msgType}">
                        <span th:case="'text'" th:text="${wxMsg.content}">[文本]</span>
                        <span th:case="'image'">[图片]</span>
                        <span th:case="'voice'" th:text="${'识别结果:'+wxMsg.content}">[语音]</span>
                        <span th:case="'video'">[视频]</span>
                        <span th:case="'shortvideo'">[小视频消息]</span>
                        <span th:case="'location'"
                              th:text="${'坐标：'+wxMsg.locationY+ ',' +wxMsg.locationX}">[地理位置消息]</span>
                        <span th:case="'link'" th:text="${'链接:'+wxMsg.title}">[链接]</span>
                    </p>

                    <ul class="weui-media-box__info">
                        <li class="weui-media-box__info__meta"
                            th:text="${#dates.format(wxMsg.insertTime, 'yyyy-MM-dd HH:mm:ss')}">示例时间
                        </li>
                        <li class="weui-media-box__info__meta">时间</li>
                        <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">
                            其它信息
                        </li>
                    </ul>
                </div>
            </div>
            <div class="weui-panel__ft">
                <a th:href="${'/wx/pub/msg/'+wxMsg.toUserName}"
                   class="weui-cell weui-cell_access weui-cell_link">
                    <div class="weui-cell__bd">查看详情</div>
                    <span class="weui-cell__ft"></span>
                </a>
            </div>
        </div>
    </div>


    <div class="weui-msg__extra-area">
        <div class="weui-footer">
            <p class="weui-footer__links">
                <a href="/" class="weui-footer__link">Sixlab·六楼实验室</a>
            </p>
            <p class="weui-footer__text">Copyright © 2017 Sixlab·六楼实验室</p>
        </div>
    </div>
</body>
</html>